.card {
  display: flex;
  flex-direction: column;
  /* flex: 0.5 0 auto; */
  border: 1px solid black;
  padding: 0;
  height: 26rem;
  place-content: stretch;

  .card-btn {
    appearance: none;
    border: none;
    outline: none;
    height: 100%;

    h2 {
      text-overflow: ellipsis;
    }
  }

  img {
    object-fit: cover;
    height: 300px;
    width: 180px;
  }
}
