.about-game {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgba(10, 20, 10, 0.8);
  border-radius: 24px;
  padding: 12px 24px;
  cursor: pointer;

  h2 {
    font-size: 250%;
    font-family: 'Demon Slayer';
  }

  .about-name {
    display: flex;
    gap: 8px;
    place-items: center;

    .github-icon {
      width: 32px;
      height: 32px;
      animation: swirl 1.4s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite;
      perspective: 10px;
    }
  }

}

@keyframes swirl {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 0.2, 0, 180deg);
  }

  100% {
    transform: rotate3d(0, 1, 1, 360deg)
  }

}
