.difficulty-menu,
.main-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 140%;
  font-weight: bold;

  .button-animation {
    appearance: none;
    border: 1px solid #000;
    border-radius: 0px;
    padding: 24px 48px;

    &:hover {
      cursor: pointer;
      background-color: #1b1b1b;
    }



    &:disabled {
      background-color: #3c3c3c;
    }

    .difficulty-btn,
    .menu-btn {
      background-color: #1a1a1a;
      color: #fff;

      letter-spacing: 6px;
      text-transform: uppercase;
      opacity: 0.8;


    }
  }



}
