.title{
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #000;
  text-shadow: 12px 2px 8px #ff1212;
  letter-spacing: 8px;
  font-family: 'Demon Slayer';
  
  img{
    height: 400px;
    width: auto;
    margin-bottom: -30px;
    opacity: 0.9;
  }

  h1{
    margin-bottom: 0;
  }
  h2{
    margin-top: 0;
  }
}
